<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h1>List OF Food Items</h1>
    </div>
    <table class="table table-hover" id="supplier-table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Place Name</th>
                <th scope="col">Place Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="place:${places}">
                <th th:text="${place.id}"></th>
                <td th:text="${place.placeName}"></td>
                <td th:text="${place.address}"></td>
                <td><a  class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete With its Related Records?')"  th:href="@{/places/delete/__${place.id}__}" >Delete</a>
                    <a th:href="@{/places/edit/__${place.id}__}" class="btn btn-outline-warning">Update</a></td>
            </tr>
        </tbody>
    </table>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>